# Исключение виртуального окружения
venv/
env/

# Исключение файлов конфигурации среды
*.env

# Исключение кэшированных файлов Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Исключение логов
*.log

# Исключение IDE/редакторов
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Исключение файлов, сгенерированных системой
.DS_Store
Thumbs.db

# Исключение файлов временного использования
*.tmp
*.bak
*.swp

# Исключение PDF-файлов, если они не нужны в репозитории
*.pdf

# Исключение файлов из Railway и других CI/CD сервисов
*.db
*.sqlite3

# Исключение файлов, сгенерированных компиляцией C/С++
*.o
*.so
*.exe
*.dll


